html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Tsukimi Rounded", sans-serif;
  background-image: url(/frontend/assets/lines.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
body .container_title {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container_title h1 {
  font-size: 48px;
  letter-spacing: 2px;
  text-shadow: 0 4px 4px #598392;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.container input[type=text],
.container input[type=date] {
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 4px #598392;
}
.container button,
.container input[type=date] {
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 4px 4px #598392;
}

select {
  cursor: pointer;
  padding: 5px;
  box-shadow: 0 4px 4px #598392;
}

.card_delete {
  text-align: center;
  width: 150px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}
.card_delete:hover {
  background-color: rgb(247, 61, 61);
}

.button_add_date {
  margin: 5px 0 5px 0;
  padding: 6px;
  box-shadow: 0 4px 4px #598392;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  transition: transform 0.3s;
  transform: scale(1.2);
}

main {
  height: auto;
  display: flex;
  flex-direction: column;
}
main .card_description {
  background-color: transparent;
}
main section {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main section table {
  border: 2px solid black;
  border-radius: 20px;
}
main section table tbody {
  vertical-align: middle;
}
main section table thead:first-child {
  font-weight: 900;
}
main section table tr {
  height: 40px;
  width: 100%;
  border: 2px solid black;
}
main section table td {
  height: 30px;
  border: 2px solid black;
  vertical-align: middle;
}
main section table td:first-child {
  font-weight: 900;
  vertical-align: middle;
  background-color: whitesmoke;
}
main section table th {
  background-color: whitesmoke;
  vertical-align: middle;
  border: 2px solid black;
}
main .card_name {
  margin-top: 10px;
  width: 800px;
  padding: 20px;
  background-color: #006d77;
  color: whitesmoke;
  font-size: 22px;
  font-weight: 900;
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(49, 48, 48, 0.3);
  text-shadow: 0 4px 4px rgba(5, 5, 5, 0.5);
}

.card_id_hidden {
  display: none;
}

input[type=text] {
  border-radius: 8px;
}

.hidden {
  display: none;
}

.best_day {
  background-color: rgba(0, 128, 0, 0.397);
}/*# sourceMappingURL=main.css.map */